.paper{
    padding-top: 8px;
    padding-bottom: 100px;
    
}

.botonX{
    margin-left: 350px;
    border: none;
    background: none;
    height: 5px;
    width: 100px;
    font-size: 15px;
}
.eliminar{
    color: rgb(255, 255, 255);
    text-decoration-line: underline;
    font-weight: bold;
  
}
.lista2{
    border-style: none;
    border-width: 3px;
    border-color: rgb(0, 21, 255);
    
}
.lista3{
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(141, 141, 223);
}

.lista{
    
    border-style: none ;
    border-width: 3px;
    border-color: rgb(141, 141, 223);
    font-size: 19px;
    color:  rgba(125, 157, 206, 0.699);
    text-shadow: 1px 1px black;
}
.containercitas{
    max-width: 500px;
    margin: 0 auto; /* Esto centra el contenedor horizontalmente */
    /*width: 500px;
    border: solid rgba(218, 203, 203, 0.329) ;*/
    margin-top: 50px;
}
.agregado{
    float: left;
    color: gray;
}
.titulotodos{
    font-size: 4rem;
    color: rgba(125, 157, 206, 0.699);
    text-shadow: 1px 1px black;
}
input{
border: white;

}