.Pagina {
  background-color: #fae9ed;
  padding: 50px;
}

.Login {
  background-color: #f5e9fa;
  padding: 50px;
}

.titulo {
  color: #0a2641;
  margin-top: 20px;
  margin-bottom: 50px;
}

.botonR {
  background-color: #9182c4;
  color: black;
}

.botonRR {
  background-color: #c482ab;
  color: black;
}
.atributos {
  color: #101d2a;
}
