.tituloR {
  color: #14396a;
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}

.botonRes {
  background-color: #9182c4;
  color: black;
}

.botonRRe {
  box-shadow: 0px 0px 0px 2px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #0889c9 100%);
  background-color: #63b8ee;
  border-radius: 10px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #14396a;
  padding: 0px 4px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
  width: 250px;
  font-size:medium;
  
}
.botonRRe:hover {
  background: linear-gradient(to bottom, #0889c9 5%, #63b8ee 100%);
  background-color: #0889c9;
}
.botonRRe:active {
  position: relative;
  top: 1px;
}

.atributosR {
  color: #101d2a;
}

.PaginaR {
  position: relative;
  z-index: 1;
  width: 500px;
  height: 500px;
  margin: 0 auto 10px;
  margin-top: 10px;
  text-align: center;
  border: 10px solid #0889c9;
}